<%- include("partials/header") %>
<div class="container">
    <h1 style="text-align: center;"><%= data.Title %></h1>
    <div class="thumbnail">
        <% if (data.Poster === "N/A") { %>
            <img src="/../img/default-poster.jpg"/>
        <% }  else { %>
            <img src="<%= data.Poster %>"/>
        <% } %>        
    </div>
    <div class="row">
        <div class="col-sm-2"><strong>IMDb Rating:</strong></div>
        <div class="col-sm-10"><i class="fa fa-star"></i> <%= data.imdbRating %>/10</div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Release Date:</strong></div>
        <div class="col-sm-10"><%= data.Released %></div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Starring:</strong></div>
        <div class="col-sm-10"><%= data.Actors %></div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Rated:</strong></div>
        <div class="col-sm-10"><%= data.Rated %></div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Runtime:</strong></div>
        <div class="col-sm-10"><%= data.Runtime %></div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Genre:</strong></div>
        <div class="col-sm-10"><%= data.Genre %></div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Plot:</strong></div>
        <div class="col-sm-10"><%= data.Plot %></div>
    </div> 
    <div class="row">
        <div class="col-sm-2"><strong>Awards:</strong></div>
        <div class="col-sm-10"><%= data.Awards %></div>
    </div> 
    <div class="row" style="padding-top: 10px;">
        <a href="/ratings/<%= data.imdbID %>/new"><button class="btn btn-primary"><i class="fa fa-star"></i> Rate movie</button></a>
        <a class="btn btn-primary" href="javascript:history.back()" role="button">Go Back</a> 
    </div>
</div>
<%- include("partials/footer") %>
