<%- include("partials/header") %>
<div class="container">
    <h1><%= data.Title %></h1>
    <p><%= data.Year %></p>
    <img src="<%= data.Poster %>">
    
    <p><%= data.Plot %></p>
</div>
<%- include("partials/footer") %>