<%- include("../partials/header") %>
<div class="container">
    <div class="title">
        <h1 style="text-align: center;">Rate <%= data.Title %></h1>
        <hr>
    </div>
    <div class="row">
        <div style="width: 30%; margin: 25px auto;">
            <div class="thumbnail">
                <% if (data.Poster === "N/A") { %>
                    <img src="/../img/default-poster.jpg"/>
                <% }  else { %>
                    <img src="<%= data.Poster %>"/>
                <% } %>        
            </div>
            <form action="/ratings/<%= data.imdbID %>" method="POST" autocomplete="off">
                <div class="form-group">
                    <label for="rating">Rating <i class="fa fa-star"></i></label>
                    <input class="form-control" type="number" id="rating" name="rating" min="0" max="10" step="0.1" placeholder="rating/10">
                </div>
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea class="form-control" type="text" id="comment" name="comment" placeholder="comment"></textarea>
                </div>
                <div class="form-group row">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <hr>
            <a class="btn btn-outline-secondary" href="javascript:history.back()" role="button">Go Back</a> 
        </div>
    </div>
</div>
<%- include("../partials/footer") %>
