<%- include("../partials/header") %>
<div class="container">
    <h1 style="text-align: center;"><%= data.Title %></h1>
    <div class="row" id="show">
        <div class="col-sm-5">
            <div class="thumbnail">
                <% if (data.Poster === "N/A") { %>
                    <img src="/../img/default-poster.jpg"/>
                <% }  else { %>
                    <img src="<%= data.Poster %>"/>
                <% } %>        
            </div>
        </div>
        <div class="col-sm-7 well">
            <div class="caption">
                <div class="row">
                    <div class="col-sm-3"><strong>IMDb Rating:</strong></div>
                    <div class="col-sm-9"><i class="fa fa-star"></i> <%= data.imdbRating %>/10</div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Release Date:</strong></div>
                    <div class="col-sm-9"><%= data.Released %></div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Starring:</strong></div>
                    <div class="col-sm-9"><%= data.Actors %></div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Rated:</strong></div>
                    <div class="col-sm-9"><%= data.Rated %></div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Runtime:</strong></div>
                    <div class="col-sm-9"><%= data.Runtime %></div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Genre:</strong></div>
                    <div class="col-sm-9"><%= data.Genre %></div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Plot:</strong></div>
                    <div class="col-sm-9"><%= data.Plot %></div>
                </div> 
                <div class="row">
                    <div class="col-sm-3"><strong>Awards:</strong></div>
                    <div class="col-sm-9"><%= data.Awards %></div>
                </div> 
                <div class="row" style="text-align: center; padding-top: 10px;">
                    <% if (ratingExists) { %>
                        <a href="/ratings/<%= data.imdbID %>"><button class="btn btn-success"><i class="fa fa-star"></i> View Rating</button></a>
                    <% } else { %>
                        <a href="/ratings/<%= data.imdbID %>/new"><button class="btn btn-success"><i class="fa fa-star"></i> Rate movie</button></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    
    <div class="row" style="padding-bottom: 10px;">
        <a class="btn btn-secondary" href="javascript:history.back()" role="button">Go Back</a> 
    </div>
</div>
<%- include("../partials/footer") %>
