<%- include("../partials/header") %>
<div class="container">
    <div class="title">
        <h1 style="text-align: center;"><%= data.Title %></h1>
        <hr>
    </div>
    <div class="row movie-info" id="show">
        <div class="col-sm-5">
            <div class="figure rounded">
                <% if (data.Poster === "N/A") { %>
                    <img class="figure-img img-fluid rounded" src="/../img/default-poster.jpg"/>
                <% }  else { %>
                    <img class="figure-img img-fluid rounded" src="<%= data.Poster %>"/>
                <% } %>        
            </div>
        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3"><strong>IMDb Rating:</strong></div>
                <div class="col-sm-9"><i class="fa fa-star"></i> <%= data.imdbRating %>/10</div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Release Date:</strong></div>
                <div class="col-sm-9"><%= data.Released %></div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Starring:</strong></div>
                <div class="col-sm-9"><%= data.Actors %></div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Rated:</strong></div>
                <div class="col-sm-9"><%= data.Rated %></div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Runtime:</strong></div>
                <div class="col-sm-9"><%= data.Runtime %></div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Genre:</strong></div>
                <div class="col-sm-9"><%= data.Genre %></div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Plot:</strong></div>
                <div class="col-sm-9"><%= data.Plot %></div>
            </div> 
            <div class="row">
                <div class="col-sm-3"><strong>Awards:</strong></div>
                <div class="col-sm-9"><%= data.Awards %></div>
            </div> 
        </div>
    </div>
    <div class="row all-ratings card">
        <div class="text-right" style="margin-bottom:10px;">
            <% if (ratingExists) { %>
                <a href="/ratings/<%= data.imdbID %>"><button class="btn btn-success"><i class="fa fa-star"></i> View Rating</button></a>
            <% } else { %>
                <div class="container">
                    <a class="btn btn-success mb-2" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <i class="fa fa-star"></i> Rate movie
                    </a>
                    <div style="width=70%;">
                        <div class="collapse" id="collapseComment">
                            <div class="rounded text-left" style="border: 1px solid lightgray; padding: 2% 2% 0 2%;">
                                <% if(!currentUser) { %>
                                    <p>You need to <a href="/login">login</a> before you can rate movies.</p>
                                <% } else { %>
                                    <form action="/ratings/<%= data.imdbID %>" method="POST" autocomplete="off">
                                        <div class="form-group">
                                            <label for="rating">Rating <i class="fa fa-star"></i></label>
                                            <input class="form-control" type="number" id="rating" name="rating" min="0" max="10" step="0.1" placeholder="rating/10">
                                        </div>
                                        <div class="form-group">
                                            <label for="comment">Comment</label>
                                            <textarea class="form-control" type="text" id="comment" name="comment" placeholder="comment"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary">Submit</button>
                                        </div>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
        <hr>
        <% if (ratings.length > 0) { %> 
            <% ratings.forEach(rating => { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= rating.author.username %></strong>
                        <span class="pull-right"><i class="fa fa-star"></i> <%= rating.rating %>/10</span>
                        <p style="margin: 0;">
                            <%= rating.comment %>
                        </p>
                        <small><em><%= moment(rating.createdAt).fromNow() %></em></small>
                    </div>
                </div>
            <% }) %>
        <% } else { %>
            <div class="row">
                <div class="col-md-12">
                    <em>No ratings yet.</em>
                </div>
            </div>
        <% } %>  
    </div>
    <hr>
    <div class="row">
        <a class="btn btn-outline-secondary" href="javascript:history.back()" role="button">Go Back</a> 
    </div>
</div>
<%- include("../partials/footer") %>
